__pycache__
batch_config

.vscode
*.code-workspace

*.yaml
*.toml

*.sh
*.ps1

*.txt
*.csv
*.xlsx

*.tif
*.tiff

*.zip
*.ckpt

dev/.sensitive_info
dev/ipynb_playground/**/*.png
dev/ipynb_playground/tensorboardx/**
!dev/ipynb_playground/tensorboardx/**/*.ipynb
!dev/ipynb_playground/yaml/sample_config.yaml

!script*/**/*.toml
!db_path_plan.toml
!test.toml