__pycache__

.vscode
*.code-workspace

*.yaml
*.toml

*.sh
*.ps1

*.txt
*.xlsx

*.tif
*.tiff

*.zip
*.ckpt

FuncTest_with_ipynb/**/*.png
FuncTest_with_ipynb/tensorboardx/**
!FuncTest_with_ipynb/tensorboardx/**/*.ipynb

!script/Config/*.toml