__pycache__

.vscode
*.code-workspace

*.yaml
*.toml

*.sh
*.ps1

*.txt
*.csv
*.xlsx

*.tif
*.tiff

*.zip
*.ckpt

ipynb_playground/**/*.png
ipynb_playground/tensorboardx/**
!ipynb_playground/tensorboardx/**/*.ipynb
!ipynb_playground/yaml/sample_config.yaml

!script/Config/*.toml
!script/Repo.Zebrafish_Cell_Count/*.toml